body{
	margin: 0px;
}

.container {
	display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-evenly;
}

h1 {
	font-family: cursive;
	font-size: 3em;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	width: 400px; 
	text-align: center;
	margin-top: 0px;
}
h3{ 
margin: 10px; }
img {
	width: 300px;
	height: 300px;
	margin: 12px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

